<h2 style="text-align:center">👤 {{ .Account.Name }}</h2>

{{ if .AuditEnabled }}
<h3>Recent activities</h3>

<table>
    <tr>
        <th>Destination</th>
        <th style="width:15%">Download (MB)</th>
        <th style="width:15%">Upload (MB)</th>
    </tr>
    <tr>
        <th>Total</th>
        <td>{{ round (divf .TotalRecv 1048576.0) 2 }}</td>
        <td>{{ round (divf .TotalSent 1048576.0) 2 }}</td>
    </tr>
    {{ range .AccessLog }}
    <tr>
        <td class="monospace">{{ .ServerName }}</td>
        <td>{{ round (divf .Recv 1048576.0) 2 }}</td>
        <td>{{ round (divf .Sent 1048576.0) 2 }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}

<h3>
    Clients
    <a href="#" onclick="document.getElementById('create-client').showModal();return false">[+]</a>
</h3>

<table>
    <tr>
        <th>Name</th>
        <th>IP</th>
        <th></th>
    </tr>
    {{ range .Account.Clients }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .IPAddress }}</td>
        <td><a href="/account/{{ $.Account.ID }}/client/{{ .ID }}/delete">Delete</a></td>
    </tr>
    {{ end }}
</table>

<h3>
    Settings
</h3>

<form action="/account/{{ .Account.ID }}" method="post">
    <label for="bandwidth_in_limit">Download bandwidth limit (Mb/s)</label>
    <input type="number" name="bandwidth_in_limit" step=".01" id="bandwidth_in_limit" required
        value="{{ round (divf .Account.BandwidthInLimit 1048576.0) 2 }}">
    <label for="bandwidth_out_limit">Upload bandwidth limit (Mb/s)</label>
    <input type="number" name="bandwidth_out_limit" step=".01" id="bandwidth_out_limit" required
        value="{{ round (divf .Account.BandwidthOutLimit 1048576.0) 2 }}">
    <input type="submit" value="Update">
</form>

<dialog id="create-client" onclick="event.target==this && this.close()">
    <header>Create new client</header>
    <form action="/account/{{ $.Account.ID }}/client" method="post">
        <label for="name">Client name</label>
        <input type="text" name="name" id="name" required>
        <input type="submit" value="Create">
    </form>
</dialog>
